.vs/
Playstudios.Api/bin/
Playstudios.Api/obj/
Playstudios.Common/bin/
Playstudios.Common/obj/
Playstudios.Core/bin/
Playstudios.Core/obj/
Playstudios.Data/bin/
Playstudios.Data/obj/
/Playstudios.Testing/bin/Debug/net6.0
/Playstudios.Testing/obj
